/*start global rules */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
  
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
        --main-color: white ;
        --main-color-alt:rgb(9, 8, 8) ;
}
html{
    scroll-behavior: smooth;
}
body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    /* display: flex; */
   /* justify-content: center;
    align-items: center;
    min-height: 100vh; */

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.dark{
    background-color: #000000;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    
}
  /* screens */

/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

        /* mediam */
    @media (min-width:992px) {
    .container{
        width: 970px;
    }
}
        
        /* large */
    @media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
}
/*end global rules */

 
/*start header */
header{
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 7%;
    
    /* -webkit-box-shadow: 0 0 10px #2e6e39;
    -moz-box-shadow: 0 0 10px #2e6e39;
    box-shadow: 0 0 10px #2e6e39; */
    /* background-color: rgba(0, 0, 0, 0); */
    z-index: 10;
    transition: 0.5s;    
    

}
.down{
    background-color: #000000;
}
.nav-scrolled {
    background-color: #ebebeb;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    }
/* .dnav{
    position: fixed;
    transition: backgrond-color 0.4s ease-in-out;
}
.dnav .scrolled{
    background-color: black;
    opacity: 0.98;
} */
.main-nav{
    /* background-color: transparent; */
    padding-top: 20px;
    height: 100px;
    
}

@media (max-width:768px) {
          .header .container .main-nav li{
            margin-top: -10%;   
            height: 10px;
            }
     
            header {
           height: 10%;   
            }
     
            .header .logo (
            margin-top: 1000px;
            )
      
       
}

 @media (max-width:991px){
    .header .container .main-nav li{
        position: relative;
        align-items: center;
        margin-top:-7%;   
        }
  header {
    margin-bottom: 20%;  
       height: 15%;   
        }
    header .logo {
        position: relative;
        padding: 10px;
        left: -2%;
    }
} 

/*start mega menu */
.header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.689);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top 0.9s, opacity 0.9 ;
}
.header .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: 100%;
    transition: 0.9s;
} 
@media (max-width: 767px) {
    .header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
        font-size: xx-large;
    }
    .header .mega-menu .links > li > a{
        font-size: 500px;
    }
   
}
.header .mega-menu .links{
 min-width: 220px;
    flex: 1;
}

.header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color:#dff0de;
    z-index: -1;
    transition: 0.9s;
}
.header .mega-menu .links li:hover::before{
    width: 100%;
}
.header .mega-menu .links li a{
    color: #6658ff;
    padding: 15px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li a i {
    margin-right: 10px;
}
                                /*end mega menu */
                                /* start nav bar */
.header .container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 10%;
    margin-top: -1%;

}

.header .logo img{
    margin-top: -9%;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 18%;
   height: 10%;
   z-index: 11;
    
}
@media (max-width: 767px){
    .header .logo {
        padding: 10px;
        width: 100%;
        margin-left: 45%;
        margin-top: 6%;
    }
}
@media (max-width: 991px){
    
    .header .logo {
        padding: 1px;
        width: 100%;
        margin-left: 45%;
        margin-top: 6%;
    }

}
.header .main-nav{
    display: flex;

}
@media (max-width: 767px){
    .header .main-nav{ 
        margin: auto;
       
       
    }
   
}
@media (max-width: 991px){
    .header .main-nav{ 
        margin: auto;
       
       
       
    }
   
}

.header .main-nav > li > a {
    margin: 3%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    color: #6658ff;
    padding: 0 30px;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 10%;
}
@media (max-width: 767px){
    .header .main-nav > li > a {
        padding: 1px 10px;
        margin: 3px;
        font-size: 14px;
        height: 40px;

    } 
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#00ff95;
    /* top: 0%; */
    left: -100%;
    padding-top: 20px; ;
    overflow: hidden;
}
@media (max-width: 767px){
    .header .main-nav > li > a::before{
        font-size: larger;

    }

}
                                

.header .main-nav > li > a:hover {
    /* padding-bottom: 20px; */
    font-size: larger;
    /* background-color:rgba(103, 255, 103, 0.805); */
    transition: 0.09s;

}
/* :not(:last-child)
:not(:last-child)
:not(:last-child) */
.header .main-nav > li > a  span{
    padding-bottom: 20px;

}
@media (max-width: 767px){
    .header .main-nav > li > a:hover{
        font-size: large;
        padding-top:  10px; ;
    }
}
.header .main-nav > li > a:hover::before {
    background-color: #0813eb38;
    left: 0;
    transition: 0.9s;
  }
  
@media (max-width: 767px){
    .header .main-nav > li > a:hover::before {
        font-size: small;
    }

}
                                /* end nav bar */

.video{
    position: absolute;
			flex-wrap: wrap;
            top: 0px;
			left: 0;
            right: px; ;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
            color: black;
            isolation:isolate;
}    

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

            /* start menu icon*/

.header  .bar-mega-menu{
    width: calc(100vh - 94vh);
    display:flex;
    flex-wrap: wrap;
justify-content: flex-end;
    margin-right: auto;
    
}
.header .bar-mega-menu span{
    background-color: #ffffff;
    margin-top: 0px;
    margin: 3px;
    height: 5px;
    width: calc(100vh - 94vh);
    border-radius: 10px;
   
}
.header .bar-mega-menu span:first-child{
    width: 100%;
    transition: .9s;
 }
 .header .bar-mega-menu span:nth-child(2){
    width: 60%;
    transition: 1s;
    background-color: #00ff95;
    
 }
 .header .bar-mega-menu span:last-child{
    width: 100%;
    transition: 1.2s;

 }
                /* add effect on menu icon */

 .header .bar-mega-menu:hover span:nth-child(2){
    width: 100%;
    background-color: #6658ff;
    
 }           
         

            /* end menu icon*/


/*end header */

/* start landing*/
.landing .container {
    width: 100%;
    height: 100%;
    align-items: center;
    min-height: calc(100vh - 180px) ;
    display: flex;
  
}
.landing .text h1{
    padding-bottom: 40px ;
    font-size: 40px;
    align-items: center;
    margin: 0;
    letter-spacing: -3px;
    isolation:isolate;

}
.landing .text h2{
    padding-right: 30%;
    line-height: 1;
    isolation: isolate;
}
.landing .button {
    
    color: rgb(255, 255, 255);
    bottom: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: 0.9s;

}
.landing .button :hover{
   color: rgb(24, 255, 24);

}


.main-title{
    
    margin: 120px auto;
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0) ;
    padding: 2px 20px;
    font-size: 30px;
    width:fit-content;
    position: relative;
    z-index: 1;
    transition: 0.9s;
    /* background-color: ; */
    border-radius: 50px;
    color: #6658ff;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-title::before{
content: "";
    width: 12px;
    height: 12px;
    background-color: #6658ff;
    position: absolute;
    left: -25px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition-delay: 0.5s;
}
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #6658ff;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform:translateY(-50%);
    transition-delay: 0.5s;
    

}
.main-title::before{
    left: -25px;

}
.main-title::after{
    right: -25px;
}
.main-title:hover::before{
    z-index: -1;
    animation: leftmov 0.5s linear forwards;
    border-radius:  50px;;
    transition-delay: 0.5s;

}
.main-title:hover::after{
    z-index: -1;
    animation: rightmov 0.5s linear forwards;
    border-radius:  50px;;
    
    
}


@keyframes leftmov{
        50% {
            left: 0;
            width: 12px; ;
            height: 12px; ;
            background-color:#6658ff;

        }
        100%{
            background-color: #6179ef;
            border-radius: 50;
            left: 0;
            width: 50%;
            height: 100%;
            
        }
}
@keyframes rightmov{
        50% {
            right: 0;
            width: 12px; ;
            height: 12px; ;
        }
        100%{
            background-color: #6179ef;

            border-radius: 50;
            left: 0;
            width: 100%;
            height: 100%;
        }
}



.title1{
    align-items: center;
    align-content: center;
    text-align: center;
    color: #6179ef ;
    font-size: 50px;
    font-family: ;
    letter-spacing: 10px;
    padding: 20px;
    margin: auto;
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    border-radius: 100rem;
    
}
/* end landing*/


/* start service */
.services .container{
    width: 90%;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 15%;
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1f0cf3cf;
    border-top-left-radius: 50rem;
}
.service-color{
    width: 90%;
    background-color: #3333f1;
    border-end-start-radius: 50rem;
    border-top-right-radius: 20rem;
    border-top-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    isolation: isolate;
    
}
@media (max-width: 767px) {
    .services{

    border-radius: 5rem;
}
.services .container{
    border-radius: 10px;
}
.service-color{
    background-color: white;
}
}
 
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;

}   
.about{

    margin: 1%;
    border-radius: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: transparent;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    

}
.about .container{
    display: grid;
    grid-template-rows: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 10px
    
}

.services .feat{
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    border-radius: 5%;
    color: rgb(255, 255, 255);
    word-spacing: 2px;
    height: 520px;

}
.services .feat:nth-child(2){
transition-delay: 200ms;
animation-delay: 200ms;
    

}
.services .feat h3{
    font-weight: 800;
    margin-top: 20px;
}

/* end service */

/* start portfolio */

.container-porfolio{
    
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    flex-wrap: wrap;
}
.container .hexagonAre{
   width: 950px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   /* background-color: #00ff95; */

}
.container-porfolio .hexagonAre.last{
   transform: translateY(-50px);
}
.container-porfolio .hexagonAre .hexagon{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 0 10px;
    clip-path: polygon(0 25%,50% 0,100% 25%,100% 75%,50% 100%,0 75%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
    background-color: #1f0cf3   ;
    color: rgb(255, 255, 255);
  
}
.container-porfolio .hexagonAre .hexagon h3{
    text-transform:uppercase ;
    font-weight: 400;
    margin-top: 30%;;
    font-size: 17px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    
}
.container-porfolio .hexagonAre .hexagon:hover{
    background-color: deepskyblue;
    transform: scale(0.8);
    font-size: xx-small;
   
}
.container-porfolio .hexagonAre .hexagon.Digital-markting:hover{
    background-color: deepskyblue;
    transform: scale(0.8);
    font-size: xx-small;
   
}
.container-porfolio .hexagonAre .hexagon:hover h3{
    font-size: 20px;
    margin-top: 20px;
}
.container-porfolio .hexagonAre .hexagon.Digital-markting:hover h3{
    font-size: 15px;
    margin-top: 20px;
}
.container-porfolio .hexagonAre .hexagon img{
    width: 300px;
    margin-top: -60px;
}

/* @media (max-width:768px) {
    
    .container .hexagonAre{
        display: none;
    }

     .container .hexagonAre{
         width: 200px;
       }

} */
@media (max-width:768px) {
    .container .hexagonAre{
        width: 100%;
    }
    .container-porfolio .hexagonAre .hexagon{
        width: 60px;
        height: 80px;
    }
    .container-porfolio .hexagonAre .hexagon{
        margin: 1px;
    }
    .container-porfolio .hexagonAre .hexagon h3{
        font-size: 7px;   
        text-align: center;
        align-items: center;
    }
    .container-porfolio .hexagonAre .hexagon.Digital-markting {
        font-size: 5px;
    }
    .container-porfolio .hexagonAre .hexagon.Digital-markting h3{
        font-size: 5px;
        align-items: center;
        text-align: center;
    }
  
        .container-porfolio .hexagonAre.last{
            transform: translateY(-10px);
         }  
         .container-porfolio .hexagonAre .hexagon i{
            font-size: 10px;
         }
         .container-porfolio .hexagonAre .hexagon:hover h3{
            font-size: 9px;
            margin-top: 10px;
        }
        .container-porfolio .hexagonAre .hexagon.Digital-markting:hover h3{
            font-size: 9px;
            margin-top: 10px;
            align-items: center;
            text-align: center;
        }
}                                                             

/* End portfolio */








/* start price */
.pricing{
    margin-left: 10%;
    align-items: center;
    width: 70%;
    padding-top: -20px;
    padding-bottom: 20px;
    position: relative;
   background-color: transparent;
   z-index: 0;

}
/* .Pricing-background{ 
    background-color: black;
    
}  */
 .pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    background-color:#00ff9535;
    border-radius: 90% 0 90% 0  ;
    height: 10%;
    /* background-color:#6658ff; */
}
.pricing .box{
    position:relative;
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    height: fit-content;
    flex-direction: column;
    padding: 15px ;
    margin: 0px 10% ;
    border: 2px solid ;
    border-radius: 2%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    transition: 0.9s;
    /* opacity: 1;   */
    color:whitesmoke;
    background-color: #1f0cf3;
    word-spacing: 1%;
    /* line-height: 90%; */
    
    /* border-radius: 20%; */

}


                                                                /*    ==========>     hnaaaaaaaaaaa     */
.pricing .box::before,
.pricing .box::after{
    content: "";
    width: 0%;
    height: 50%;
    color: #ffffff;
    position: absolute;
    background-color: #00ff956e;
    z-index: -1;
    transition: 0.9s;
    
}
.pricing .box::before{
    left: 0;
    top: 0;
    color: #ffffff;
}
.pricing .box::after{
    right: 0;
    bottom: 0;
    color: #00ff95;
}
.pricing .box:hover::before,
.pricing .box:hover::after{
     width: 100%;
    color: #ffffff;
    opacity: 1;
    
}

@media (min-width:1200px) {
    .pricing .box.popular {
        top:-60px;
    }
}
                                                                                    /*    ==========>     hnaaaaaaaaaaa     */
.pricing .box.popular .label {             
    position: relative;
    writing-mode: vertical-rl;
    background-color: #00ff95;
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px ;
    right: 10px;
    top: 0px;
    width: 40px;
    z-index: 0;
    
}
.pricing .box.popular .label::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid ;
    border-color: transparent transparent #1f0cf3 transparent ;
    border-width: 20px;
    
}   
.pricing .box .amount {
    color: white;
    font-weight: bold;

    font-size: xx-large;

}
.pricing .box ul{
    margin-top: 30px;
    border-top: 2px solid #ffffff;
    text-align: left;
    
}
.pricing .box ul li::before{
    font-family:"Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    margin-right: 10px;
    
}
.pricing .box ul li{
    display: block;
    width: fit-content;
    margin-top: 30px auto 40px;
    padding: 15px 20px;
    font-weight: bold ;
    transition: 0.9s;
}

.pricing .box a:hover {
    background-color: #ffffff;
    color:#6658ff ;
    border-color: #6658ff;
}
/* end price */
.cont{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.btn-send{
    color: white;
    border: 2px solid white;
    background-color: #6658ff;
    border-radius: 50px;
    padding:10px 60px ;
    cursor: pointer;
    z-index: 0;
   
   
} 

.card{
    border-radius: 10px;
    box-shadow: 1px;
    padding: 1em;
    position: fixed;
    height: 100%;
    top: 50%;

    left: 400%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: all 0.6s;
  background-color: #ffffff;
  
}
.card.open{
    width: 100%;
    height: 100%;
    opacity: 1;
    left: 50%;
    transition: all 0.7s;

    
}
@media (max-width:768px) {
    .card.open form{
        top: 5%;
        padding-top: 10%;
        height: 1%;
    }
}

.card h1{
   margin-top: 15%;
    font-size: x-large;
   
}

.card .btn-close {
    width:20px;
    border-radius: 50px;
    border: 0;
    left: 60%;
    
    padding: 20px;
    margin-left: 80%;
    margin-top: 10%;
    
    background-color: #00ff95;
    cursor: pointer;
}

.inputbox{
    width: 90%;
    position: relative;
margin:0px 25px;
padding: 5px;


}
.inputbox input{
    position: relative;

    width: 80%;
    padding: 10px ;
    border: 1px solid transparent;
    background-color: #ffffff17;
    border-radius: 5px;
    outline: none;
color: #fff;
font-size: 1em;
transition: 0.5s;

}
.inputbox span{
    position: absolute;
    left: 10%;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: #ffffff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.6em;
    padding: 0 10px;
    background-color: #6754e2;
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    letter-spacing: 0.3rem;
}
.inputbox input:valid ,
.inputbox input:focus {
    border: 1px solid wheat ;
}

.card .submit{
    width: 50%;
    border-radius: 50px;
    border: 0;
    left: 60%;
    padding: 15px;
    margin-top: 20px;
    background-color: #00ff95;

}

.box .cont form{

    margin-top: 10%;
    margin-left: 38%;
    position: relative;
    flex: auto;
    flex-wrap: wrap;
    width:300px;
    height: 200px;
    z-index: 5;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
    background-color: #6754e2;    
    
}
@media (max-width: 767px){
    .box .cont form{
    margin-top: 10%;
    margin-left: 9%;
    }
}

.pricing .box .btn-send:hover {
    background-color: #ffffff;
    color:#6658ff ; 
    border-color: #6658ff;
    transition: 0.9s;
    
}
/* .btn-send{
    border: 2px solid white;
    background-color: #6658ff;
    border-radius: 50px;
    padding:10px 60px ;
    cursor: pointer;
    
   
}  */

.whatsapp{
     width: 60px;
     height: 60px; 
     position: fixed; 
     right: 10px; 
     bottom: 10px;
     z-index: 1000;

}
.whatsapp:hover{
    /* padding-bottom: 100px; */
    /* padding-right: 20px; */
    /* width: 100px;
    height: 10px; */
    
    -webkit-animation: whatsapp 5s linear infinite;
    animation: whatsapp 5s linear infinite ;
   
    
}

@-webkit-keyframes whatsapp{
    0%{
        transform: rotate(0deg)translate(-6px)rotate(0deg);
       
    }
    100%{
        transform: rotate(360deg)translate(-6px)rotate(-360deg);
    }
}

.new_footer_area {
    background: #ffffff;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
      z-index: 0;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
    margin: 5px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

.phone{
    color: #6179ef;
    font-weight: bolder;
     margin-bottom: 10px;
}
/*************footer End*****************/
.hidden{
    opacity: 0 ;
    transition: all 0.5s;
    filter: blur(1px);
    transform: translateX(-100%);
}
.hidden:nth-child(2){
    transition-delay: 200ms;
}
.hidden:nth-child(4){
    transition-delay: 200ms;
}
.hidden:nth-child(5){
    transition-delay: 200ms;
}
.hidden-epik{
    opacity: 0 ;
    transition: all 0.5s;
    filter: blur(1px);
    transform: translateX(-100%);


}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);

}
.show-epik{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);

}
@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

    /********************start about us ******************/
.aboutus .container{
    
   color: #6658ff;
   width: 50%;
   padding-left: 12%;
   padding-right: 15%;
}
.banner {
    /* position: relative; */
    padding-top: 30px;
    align-items: center;
    left: 30%;
    width: fit-content;
   
}

.banner .container{
flex: auto;
/* position: relative; */
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));    
    gap: 30px;
    
}
.Textabout{
    font-family:Arial, Helvetica, sans-serif ;
    color: #070613;
    width: 200px;
    letter-spacing: 5px;
 
}
.contenetaboutus{
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 20px;
    background-color: #fffdfd;
    color: #212121;
    width: 80%;
    border: solid gray 0px;
    border-bottom-width:  10px;
    border-top-width:  10px;
    border-bottom-left-radius: 50px ;
    border-top-left-radius: 50px ;
    border-bottom-right-radius:50px ;
    border-top-right-radius:50px ;
    background-color: rgba(128, 128, 128, 0.082);
}
.body-p-aboutus{
    padding-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-left: 100px;
}
@media (max-width: 767px){
    .contenetaboutus{
        width: 80%;
    }
}
.banner img{
    
   width: 800px;
    border-radius: 10px;
    border-top-left-radius: 10rem ;
    border-bottom-right-radius:  10rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
    /* left: -40%; */
    right: 50px;
    

}
@media (max-width: 767px){
 
   
    .banner img{
        width: 240px;
        left: 0%;
        right: 0%;
        left: 100px;
        right: 100px;
        margin-left: -50%;
    } 
 
   
     

    
    .banner .banner-text h4{
        font-size: 7px;
        z-index: 4;
    }
    

    .banner-text h1{
        margin-top: -10%;
        margin-left: 10%;
        background-color: rgba(149, 137, 137, 0.474);
        border-top-right-radius: 10rem;
        border-bottom-left-radius: 10rem;
        
    }
          
        
    }
    @media (max-width: 767px) {
        /* .aboutus .banner img{
            position: relative;
            width: 700px;
            left: 10%;
            right: 0%;
            margin-right: 100px;
            align-content: center;
            
        }  */
       .aboutus .left{
           /* padding: 30px; */
          
            display: none;
        }

        .aboutus a{
          display: none;
        }
        .banner h1{ 
            margin-left:40%;
        }
        /* .banner img{
            width: 50px;
            /* left: 100%; */
            margin-left:10%;
            overflow:scroll;
        }  */
    }
    @media (max-width: 991px){
        .banner{
            margin-left: -18%;
            left: 0%;
            right: 100%;
        
            
        }
        .banner img{
            width: 350px;
            left: 40%;
            right: 0%;
        } 
        .aboutus .banner-text h4{
            position: absolute;
            top: 32%;
            right: 25%;
            left: 25%;
            padding: 15px 15px;
            font-size: 7px;
            color: #000000;
            align-items: center;
            align-content: center;
        
        }
   
        .aboutus a{
            position: absolute;
          left: 100%;
          margin-left: 20%;
            margin-top: 20%;
        }
    }



.aboutus .container .banner h1{
left: -10px;   

    
}
.banner .left{
    /* position: relative; */
    top: -100%;
    width: 30%;
    left:  -40%;
    padding-bottom: 600px;
    font-size: xx-large;
    margin-top: -100%;
    margin-left: -50%;
}
 .banner  a{
    /* position: relative; */
    top: 60%;
    width: fit-content;
    left:  -40%;
    padding: 10px;
    font-size: xx-large;
    color: #fffefe;
    border-radius: 50px;
    background-color: #2e2525;
   border-top-right-radius: 50rem 10rem;
   border-top-left-radius: 50rem 10rem;
   border-bottom-left-radius: 50rem 10rem;
  transition: 0.5s;
}
.banner a:hover{
    background-color: white;
    color: #2e2525;
    text-shadow: #000000;
    font-size: 50px;
}
.fade-in1 {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
.fade-in2 {
    opacity: 0;
    transition: opacity 10s ease-in;
  }
  
  .fade-in1.appear {
    opacity: 1;
  }
  .fade-in2.appear {
    opacity: 2;
  }

      /********************end about us ******************/


  .from-left {
    grid-column: 0 / 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .from-down {
    grid-column: 3 / 4;
    -webkit-transform: translateZ(50%);
    transform: translateZ(50%);
  }
  
  .from-left,
  .from-right,
   .from-down{
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      -webkit-transform 400ms ease-in;
    opacity: 0;
  }
  
  .from-left.appear,
  .from-right.appear,
  .from-down {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  body.dark-mode {
    background-color: #212121;
    color: #ffffff;
  }
  .floating-button .script{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .container .tel {
    padding: 3px;
   border: 2px solid ;
   border-radius: 5px ;
    background-color:white;
    transition: 0.5s;
    padding: 4px 10px;
  }
  .container .tel:hover{
    background-color:#6179ef;
    color: white;
  }
        /* متنساش تهندل الميديا */
